.container-header {
    width: 100%;
    height: 215px;
    background-color: #a97afd;
    text-align: center;
    padding-top: 50px;
    border-radius: 0px 0px 60px 60px;
}

img {
    width: 100px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: #b798f0;
}

.title-block {
    font-weight: 500;
    font-size: 20px;
    color:  #4f055c;
}